[Desktop Entry]
Name=Election
GenericName=Choose a CPU governor
Comment=Choose among cpufrequtils CPU governors so your computer performs the way you expect it to
Categories=Utility;
Exec=com.github.eozaki.election
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=CPU;governor;
